<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
        
        <ul>
            <li th:each="arvo : ${lista}">
                <span th:text="${arvo}">
                    setit
                </span>
            </li>
        </ul>
        
        <form action="/" method="POST">
            <input type="text" name="kysymys"/>
            <input type="submit"/>
        </form>
    </body>
</html>
