<!DOCTYPE html>
<html>
    <head>
        <title>Kysymyspankki</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Kysymykset</h2>
        
        <ul th:each="kurssi : ${kurssit}">
            <li>
                <h2 th:text="${kurssi}">text</h2>
            </li>
            
        </ul>
        
        <ul>
            <li th:each="arvo : ${lista}">
                <a th:href="@{~/kysymykset/{id}(id=${arvo.id})}">
                    <span th:text="${arvo.kysymys}">Kysymys</span>
                </a>
                    <form th:action="@{~/kysymykset/{id}(id=${arvo.id})}" method="post">
                        <input type="submit" value="Poista"/>
                    </form>
            </li>
        </ul>
        
        <h2>Luo uusi kysymys</h2>
        <form action="/" method="POST">
          <table>
            <tr>
              <td>
                Kurssi:
              </td>
              <td>
                  <input type="text" name="kurssi"/>
              </td>
            </tr>
            <tr>
              <td>
                Aihe:
              </td>
              <td>
                  <input type="text" name="aihe"/>
              </td>
            </tr>
            <tr>
              <td>
                Kysymysteksti:
              </td>
              <td>
                  <input type="text" name="kysymys"/>
              </td>
            </tr>
          </table>

          <input type="submit" value="Luo"/>
        </form>

    </body>
</html>
