<!DOCTYPE html>

<html>
    <head>
        <title th:text="${kysymys.kysymys}">Kysymys</title>
    </head>
    <body>
        <h2 th:text="${kysymys.kysymys}">Kysymys</h2>
        
        <table>
            <tr>
              <td th:text="'Kurssi: ' + ${kysymys.kurssi}">
                Kurssi:
              </td>
            </tr>
            <tr>
              <td th:text="'Aihepiiri: ' + ${kysymys.aihe}">
                Aihepiiri
              </td>
            </tr>
        </table>
    </body>
</html>
