<!DOCTYPE html>

<html>
    <head>
        <title th:text="${kysymys.kysymys}">Kysymys</title>
    </head>
    <body>
        <h2 th:text="${kysymys.kysymys}">Kysymys</h2>
        
        <table>
            <tr>
              <td th:text="'Kurssi: ' + ${kysymys.kurssi}">
                Kurssi
              </td>
            </tr>
            <tr>
              <td th:text="'Aihepiiri: ' + ${kysymys.aihe}">
                Aihepiiri
              </td>
            </tr>
        </table>
        
        <h2>Luo uusi vastausvaihtoehto</h2>
        <form th:action="@{~/vastaukset/{id}(id=${kysymys.id})}" method="post">
          <table>
            <tr>
              <td>
                Vastausteksti:
              </td>
              <td>
                  <input type="text" name="kurssi"/>
              </td>
            </tr>
            <tr>
              <td>
                Oikein:
              </td>
              <td>
                  <input type="checkbox" name="oikein"/>
              </td>
            </tr>     
          </table>

          <input type="submit" value="Luo"/>
        </form>
        
        <a href="/">Kysymysten listaukseen</a>
    </body>
</html>
