<!DOCTYPE html>

<html>
    <head>
        <title th:text="${kysymys.kysymys}">Kysymys</title>
    </head>
    <body>
        <h2 th:text="${kysymys.kysymys}">Kysymys</h2>
        
        <table>
            <tr>
              <td th:text="'Kurssi: ' + ${kysymys.kurssi}">
                Kurssi
              </td>
            </tr>
            <tr>
              <td th:text="'Aihepiiri: ' + ${kysymys.aihe}">
                Aihepiiri
              </td>
            </tr>
        </table>
        
        <ul>
            <li th:each="arvo : ${vastaukset}">
                
                <span th:text="${arvo.vastaus}">Vastaus</span>
                
                <form th:action="@{~/vastaus/{id}(id=${arvo.id})}" method="post">
                    <input type="submit" value="Poista"/>
                </form>
            </li>
        </ul>
        
        <h2>Luo uusi vastausvaihtoehto</h2>
        <!--<form th:action="@{~/kysymykset/lisaa/{id}{id=${kysymys.id}}" method="post">
          <table>
            <tr>
              <td>
                Vastausteksti:
              </td>
              <td>
                  <input type="text" name="vastaus"/>
              </td>
            </tr>
            <tr>
              <td>
                Oikein:
              </td>
              <td>
                  <input type="checkbox" id="oikein" name="oikein"/>
              </td>
            </tr>     
          </table>

          <input type="submit" value="Luo"/>
        </form>
        -->
        <ul>
            <li>
                <a href="/">Kysymysten listaukseen</a>
            </li>
        </ul>
    </body>
</html>
